[data-md-color-scheme="main_theme"] {
    --md-primary-fg-color:#102C57;
    --md-primary-bg-color:#FEFAF6;
    /* background: #EADBC8; */

    /* .md-main__inner {
        color: #DAC0A3;
    } */
}

/* body {
    background: #EADBC8;
} */